#gamePanel {
  user-select: none;
  float: left;
  width: 60%;
  height: 100%;
  padding-top: 40px;
}

#leftBoardBorder {
  float: left;
  width: 5vw;
  height: 50vw; /* Same as chessboard */
}

#bottomBoardBorder {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 5vw;
}

.boardLabel {
  text-align: center;
  width: 12.5%;
  height: 12.5%;
  line-height: 12.5%;
}

.boardLabel > p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#chessBoard {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 50vw;
  max-width: 80vh;
  max-height: 80vh;
}

.chessRow {
  width: 100%;
  height: 12.5%;
}

.chessTile {
  float: left;
  width: 12.5%;
  height: 100%;
}

.lightTile { background: #eaca94; }
.darkTile { background: #b78b5a; }

.chessPiece {
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
