#gamePanel {
  user-select: none;
  float: left;
  width: 60%;
  height: 100%;
  padding-top: 40px;
}

#boardPanel {
  margin-left: auto;
  margin-right: auto;
}

#chessBoard {
  float: left;
  width: 50vw;
  height: 50vw;
  max-width: 70vh;
  max-height: 70vh;
}

#leftBoardBorder {
  float: left;
  width: 5vw;
  height: 50vw; /* Same as chessboard */
  max-width: 70vh;
  max-height: 70vh;
}

#bottomBoardBorder {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 5vw;
  max-width: 70vh;
  max-height: 7vh;
}

.leftLabel {
  width: 100%;
  height: 12.5%;
}

.botLabel {
  width: 12.5%;
  height: 100%;
}

.boardLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  text-align: center;
  background-color: #6b5134;
}

.chessRow {
  width: 100%;
  height: 12.5%;
}

.chessTile {
  float: left;
  width: 12.5%;
  height: 100%;
}

.selectedTile {
  background: green !important;
}

.movableTile {
  background: yellow !important;
}

.enemyTile {
  background: red !important;
}

.lightTile { background: #eaca94; }
.darkTile { background: #b78b5a; }

.chessPiece {
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
